{% extends 'base.html' %}

{% block title %}My countries{% endblock %}

{% block content %}
<h2>My countries</h2>

<form method="post" action="{% url 'modify_countries' %}">
    {% csrf_token %}

    <div class="button-grid">

        <button type="submit" name="action" value="add_world">Add World</button>
        <button type="submit" name="action" value="add_europe">Add Europe</button>
        <button type="submit" name="action" value="add_asia">Add Asia</button>
        <button type="submit" name="action" value="add_africa">Add Africa</button>
        <button type="submit" name="action" value="add_america">Add America</button>
        <button type="submit" name="action" value="add_oceania">Add Oceania</button>

        <button class="clear-btn" type="submit" name="action" value="clear_world">Remove World</button>
        <button class="clear-btn" type="submit" name="action" value="clear_europe">Remove Europe</button>
        <button class="clear-btn" type="submit" name="action" value="clear_asia">Remove Asia</button>
        <button class="clear-btn" type="submit" name="action" value="clear_africa">Remove Africa</button>
        <button class="clear-btn" type="submit" name="action" value="clear_america">Remove America</button>
        <button class="clear-btn" type="submit" name="action" value="clear_oceania">Remove Oceania</button>

    </div>
</form>
{% if countries %}
<table>
    <tr>
        <th>Country</th>
        <th>Capital</th>
        <th>Area (km<sup>2</sup>)</th>
        <th>Population</th>
	<th>World Part</th>
    </tr>

    {% for item in countries %}
    <tr>
        <td>{{ item.country.name }}</td>
        <td>{{ item.country.capital }}</td>
        <td>{{ item.country.square }}</td>
        <td>{{ item.country.population }}</td>
	<td>{{ item.country.world_part }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No countries have been added to this list yet! </p>
{% endif %}

<script>
function setRegion(region) {
    document.getElementById('regionInput').value = region;
}
</script>
{% endblock %}