{% extends 'base.html' %}

{% block content %}

<h2>Quiz</h2>

{% if error %}
    <p>{{ error }}</p>
{% else %}

<form method="post">
    {% csrf_token %}

    <input type="hidden" name="country_id" value="{{ country.id }}">

    {% for h in hints %}
        <input type="hidden" name="hints" value="{{ h }}">
    {% endfor %}
    <button type="submit" name="hint" value="capital"
    {% if 'capital' in hints or message %}disabled{% endif %}>
    Show Capital</button>

    <button type="submit" name="hint" value="square"
    {% if 'square' in hints or message %}disabled{% endif %}>
    Show Area</button>

    <button type="submit" name="hint" value="population"
    {% if 'population' in hints or message %}disabled{% endif %}>
    Show Population</button>

    <button type="submit" name="hint" value="world_part"
    {% if 'world_part' in hints or message %}disabled{% endif %}>
    Show World Part</button>

    <hr>

    {% if 'capital' in hints %}
        <p>Capital: {{ country.capital }}</p>
    {% endif %}

    {% if 'square' in hints %}
        <p>Area (km<sup>2</sup>): {{ country.square }}</p>
    {% endif %}

    {% if 'population' in hints %}
        <p>Population: {{ country.population }}</p>
    {% endif %}

    {% if 'world_part' in hints %}
        <p>World Part: {{ country.world_part }}</p>
    {% endif %}

    <hr>

    {% if not message %}
        <input type="text" name="answer" placeholder="Enter country name">
        <button type="submit">Check</button>
    {% endif %}

    {% if message %}
        <p><strong>{{ message }}</strong></p>

        <button type="submit" name="next" value="1">Next country</button>
    {% endif %}

</form>

{% endif %}

{% endblock %}